.About{
  background-color: #351203;
  padding-bottom: 50px;
}


.About h2 {
  text-shadow: -1px -1px 0 #684030, 1px -2px 0 #684030, -1px 1px 0 #684030,
    1px 2px 0 #684030;
    padding-top: 70px;
  margin-bottom: 55px;
  font-size: 35px;
  text-align: center;
}


.About .dev {
  background-color: #622107;
  border-radius: 30%;
  padding: 15px;
  margin:  30px 0px;
  box-shadow: 2px 4px 6px #502222cd;
}

.About .dev h4{
    text-shadow: -1px -1px 0 #684030, 1px -2px 0 #684030, -1px 1px 0 #684030,
    1px 2px 0 #7b4b38;
    text-align: center;
}

.About .dev li {
  list-style: none;
    margin-left: -30px;

}

.About .edu {
  background-color: #622107;
  border-radius: 30%;
  padding: 15px;
  margin: 30px 0px;
  box-shadow: 2px 4px 6px #502222cd;
}

.About .edu li {
  list-style: none;
  text-align: center;
  margin-left: -30px;
}

.About .edu h4{
    text-shadow: -1px -1px 0 #684030, 1px -2px 0 #684030, -1px 1px 0 #684030,
    1px 2px 0 #7b4b38;
}


.About hr{
     border: 8px ridge #3d2d10 ;
  border-bottom: none;
  
  }

@media (min-width: 700px)
{
  .About h2 {
    font-size: 50px;
  }
  .About .dev{
width: 45%;
border-radius: 3%;
  margin-right: 28px;
margin-left: 15px;
  }

  .About .edu {
    width: 45%;
    border-radius: 3%;

  }

  .About .row{
  grid-gap: 8px;
}

}
