.Work {
  background-color: #351203;
  padding-bottom: 90px;
}

.Work h2 {
  text-align: center;
  padding-top: 70px;
  margin-top: 30px;
  margin-bottom: 35px;
  text-shadow: -1px -1px 0 #684030, 1px -2px 0 #684030, -1px 1px 0 #684030,
    1px 2px 0 #7b4b38;
  font-size: 35px;
}

.Work hr {
  border: 5px groove #a5864a;
  border-bottom: none;
  margin-bottom: 35px;
}

.Work .row {
  grid-gap: 20px;
}

.Work .project {
  background-color: #a5864a;
  border-radius: 3%;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 2px 5px 6px #612a2ae9;
}

@media (min-width: 700px) {
  .Work h2 {
    font-size: 50px;
  }
}
