.Work {
  background-color: #351203;
  padding-bottom: 90px;
}

.Work h2 {
  text-align: center;
  padding-top: 70px;
  margin-top: 30px;
  margin-bottom: 35px;
  text-shadow: -1px -1px 0 #684030, 1px -2px 0 #684030, -1px 1px 0 #684030,
    1px 2px 0 #7b4b38;
  font-size: 35px;
}

.Work hr {
  border: 5px groove #a5864a;
  border-bottom: none;
  margin-bottom: 65px;
}

.Work .row {
  grid-gap: 20px;
}

.Work .project {
  margin-bottom: 20px;

}

.Work a {
  color: white;
  text-decoration: none;
}

.Work img {
  width: 400px;
  height: 200px;
  opacity: 70%;
  border-radius: 3%;
  margin-bottom: 20px;
  border: 4px solid #a5864a;
box-shadow: 4px 7px 8px #5b2c2c;
}

.Work img:hover{
  opacity: 100%;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

@media (min-width: 700px) {
  .Work h2 {
    font-size: 50px;
  }


}
@media (max-width: 400px) {
  .Work img{
  width: 360px;
    height:230px
  }
}
